{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mon Forum</h1>

    <h2>
            <li>
                  <a href="{{ path ('app_post_index')  }}">
                    <button type="button" name="button">Articles</button>
                </a>
              </li>
              <li>
                    <a href="{{ path ('app_post_create')  }}">
                      <button type="button" name="button">Create</button>
                  </a>
                </li>
    </h2>

{% endblock %}
