{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tous les articles :</h1>

    <h2>
        {% for article in articles %}
        <hr>
            <p>{{ article.title }}</p>
            <p>{{ article.content }}</p>
            <p>By : {{ article.author}}</p>
        {% endfor %}
    </h2>

    <a href="{{path ('homepage')}}">
        <button type="button" name="button">Home</button>
    </a>
{% endblock %}
